<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справочник</title>
    <style type="text/css">
        body {
            padding: 0;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        h1 {
            margin: 0;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        li {
            cursor: pointer;
            display: flex;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>ТЕЛЕФОННЫЙ СПРАВОЧНИК</h1>

        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else
        {
            <h1>HEADER</h1>
        }

        @RenderBody()

        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <h1>FOOTER</h1>
        }
    </div>

</body>
</html>