<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ASMXSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ASMXSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44336/ASMX.asmx" binding="basicHttpBinding"
                bindingConfiguration="ASMXSoap" contract="WebService.ASMXSoap"
                name="ASMXSoap" />
        </client>
    </system.serviceModel>
</configuration>